.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #393E46;
    border-radius: 5px;
    color: #1B1A55;
    background-color: #D7E4C0;
    transition: background-color 0.3s, color 0.3s;
    margin: 5px;
}

.button-pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .container {
        margin-top: 10%;
    }

    .home-button {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .home-button {
        font-size: 16px;
    }
}
